<!DOCTYPE html>

<html>

  <head>

 <title>CAT CORP. Test Page</title>

    <meta charset="utf-8">

 <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <meta name="description" content="CAT CORP. Test Page">

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" rel="stylesheet">

 </head>

  <body style="padding-bottom:10rem;">

 <div class="jumbotron">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-3"></div>
 			<div class="col-md-8">
 				<h1> CAT CORP. Test Page</h1>
 				<p>You can experience and ask us whatever you want!</p>
 			</div>
 			<div class="col-md-3"></div>
 		</div>
 		<div class="row">
 			<div class="col-md-3"></div>
 			<div class="col-md-4">
 				<textarea id="chat_area" rows="20" cols="80" readonly></textarea>
 			</div>
 			<div class="col-md-3"></div>
 		</div>
 		<div class="row">
 			<div class="col-md-3"></div>
 			<div class="col-md-4">
 				<input type="text" id="user_input"size="70"></input>
 				<button class="btn-default" onclick="input_text()">Send</button>
 			</div>
 			<div class="col-md-4"></div>
 			
 		</div>
 	</div>
 </div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </body>
  <script>
  	function input_text()
  	{
  		var input = document.getElementById('user_input').value;
  		document.getElementById('user_input').value = "";

  		var chat_content = document.getElementById('chat_area').value;
  		document.getElementById('chat_area').value = chat_content + input + "\n";
  	}
  </script>

</html>

